@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');


/*=======================================NAVBAR=============================================*/

.navbar-nav{
    width: 100%;justify-content: center;
    
  }
  .navbar-collapse{
    justify-content: center;
  }
  .nav-item{
    padding: 0 20px 0 20px;
  }
  .navbar{
    background: rgb(235,21,21);
    background: linear-gradient(90deg, rgba(235,21,21,1) 0%, rgba(255,230,0,1) 100%, rgba(242,239,26,1) 100%);
  }
  body .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(123,88,203,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") ;;
  }
/*===========================================================================*/
  
  html,body{
    overflow-x: hidden;
  }
 
  nav a{
    text-align: center;
    color: white;
    font-size: larger;
  }
  
  .hero{
    height: 100vh;
    width: 100vw;
    background: url(/images/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .hero section{
    display: flex;flex-direction: column;
    justify-content: center;align-items: center;
    width: auto;
    border-radius: 30px;
    text-align: center;
    height: auto;padding: 15px;
    background: rgb(235,21,21);
    background: linear-gradient(90deg, rgba(235,21,21,1) 0%, rgba(255,230,0,1) 100%, rgba(242,239,26,1) 100%);
  }
  .hero h1{
    font-size: 2em;color: white;
    line-height: 150%;
  }

  *{
    font-family: 'Yatra One', cursive;
    
  }
  .dropdown-menu li{
    color: black;background-color: #F25B0E;
    text-align: center;
  }
  body .dropdown-menu{
    background-color: #F25B0E;border: none;
  }
  .dropdown-toggle{
    padding: 8px 0 0 0;width: auto;
    background-color: transparent;border: none;color: white;font-size: larger;
  }
  .dropdown-toggle:focus{
    outline: none;
  }
  .dropdown{
    text-align: center;
  }

  /*=========================CAROUSEL======================*/
  .carousel-item img{
    width: 50vw;
    margin: auto;
    height: 400px;
    border-radius: 50px;min-width: 350px;
  }
  .carousel, .carousel-inner, .slide, .carousel-item{
      height: 400px; width: 50vw;min-width: 350px;
      border-radius: 20px;
      border-radius: 50px;
  }
  /*=========================CAROUSEL======================*/

  .check{
    color: white;border: none;
    padding: 10px;border-radius: 5px;
    background-color: blueviolet;
  }
  .check:focus{
    outline: none;
  }
  .check:hover{
    transform: scale(1.05);
  }
  *{
    transition: all 0.3s ease-in-out;
  }
  .check:active{
    background-color: orangered;
  }

  .main{
    display: flex;flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;height: auto;
    background-color: peachpuff;
  }
  .main article{
    width: 200px;background-color: red;height: 300px;
    display: flex;flex-direction: column;
    justify-content: flex-start;align-items: center;
  }
  .main section{
    display: flex;flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;height: auto;
  }
